.slider__card{
    text-align: center;
    padding-top:1rem;
}
.slider__card>img{
    width:16vw;
    object-fit: contain;
    border-radius:2rem;
    box-shadow: 0rem 0rem .5rem #333;
}
.slider__card>img:hover {
    box-shadow: 0rem 0rem 1.6rem #333;
}
.slider__card>h2{
    font-size: 2rem;
}
.card__prices{
    display:flex;
    justify-content: space-around;
}
.card__prices>h5{
    font-size: 2rem;
    font-weight:200;
    margin:0;
    padding:0;
}
.card__prices>h5:nth-child(1){
    text-decoration: line-through;
}
.card__prices>h5:nth-child(2) {
    color:#FF95AF;
}
